@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

:root {
  --primary-base: #fbfbfc;
  --secondary-base: #f8f9fb;
  --tertiary-base: #eceff4;
  --primary-text: #4c566a;
  --secondary-text: #5e81ac;
  --tertiary-text: #a0a9b8;

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0
}

body {
  color: var(--primary-text);
  background: var(--primary-base)
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  :root {

  }
}


